<!DOCTYPE html>
<html>

   <head>
      <title>Welcome User - Regsitration Details</title>
   </head>
	
   <body>
      <table border = "1">
         <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Password</th>
         </tr>
         <tr>
            <td>{{name}}</td>
            <td>{{email}}</td>
            <td>{{password}}</td>
         </tr>
      </table>
   </body>
   
</html>
